<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/pages/" class="nav-link px-2 link-secondary">Главная</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">Доставка</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">Способы оплаты</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">FAQs</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">О нас</a></li>
        </ul>
        {% if request.cookies.get('market_access_token') %}
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li>
                <a href="/pages/profile" class="px-2 me-2">
                    <img src="/static/material-design-icons/person.svg" width="30">
                </a>
            </li>
            <li>
                <a class="px-2 me-2" onclick="logoutUser()">
                    <img src="/static/material-design-icons/logout.svg" width="30">
                </a>
            </li>
        </ul>
        {% else %}
        <div class="col-md-3 text-end">
            <a href="/pages/login" style="text-decoration: none" class="btn btn-outline-primary me-2">
                Войти
            </a>
            <a href="/pages/register" type="button" class="btn btn-primary">Регистрация</a>
        </div>
        {% endif %}
    </header>
</div>