{% extends 'base.html' %}

{% block content %}

<script>
    function valid_password() {

    }
</script>
<div class="bg-light mb-auto row justify-content-md-center">
    <div class="col-md-4">
        <h1 class="text-center h3 mb-3 fw-normal">Регистрация</h1>
        <div class="mb-3 row">
            <label for="username" class="col-sm-4 col-form-label">Имя пользователя</label>
            <div class="col-sm-8">
                <input type="text" required class="form-control" id="username" placeholder="username">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="email" class="col-sm-4 col-form-label">Почта</label>
            <div class="col-sm-8">
                <input type="email" required class="form-control" id="email" placeholder="email@example.com">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="password" class="col-sm-4 col-form-label">Пароль</label>
            <div class="col-sm-8">
                <input type="password" required class="form-control" id="password" placeholder="password">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="password_second" class="col-sm-4 col-form-label">Повторите пароль</label>
            <div class="col-sm-8">
                <input type="password" required class="form-control" id="password_second" placeholder="password">
            </div>
        </div>
        <button class="w-100 btn btn-lg btn-primary" onclick="" type="submit">Зарегистрироваться</button>
    </div>
</div>
{% endblock %}